<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Page Object Model with Page Factories">

	<listeners>

		<listener class-name="com.assign.listeners.CustomListeners" />

		<listener class-name="com.assign.errorcollectors.TestListenerAdapter" />
		<listener class-name="org.uncommons.reportng.HTMLReporter" />
		<listener class-name="org.uncommons.reportng.JUnitXMLReporter" />

	</listeners>


	<test name="ProgrammingTest">
		<classes>
			<class name="com.assign.testcases.GoogleSearchTest" />
		</classes>
	</test> <!-- Test -->

</suite> <!-- Suite -->
